/* 
    * Adjust the line height so it is 1.5 times the size of the font.
    * The background color is `#efeee7`.
    * The font used `"Georgia",Times New Roman,Times,serif;`.
    * The font color is `#333333`.
    * Be sure to zero out the body margins and padding so the page is flush to the top of the page:
*/
body { 
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

/* `header` The background color is `#333333`.*/
header {
    background-color: #333333;
}

/* h1
    * The font color is `#eee`.
    * The font size is `28px`.
    * Look at the example on the screen, and eyeball the padding and/or margins and positioning of the text.
*/
h1{
    color: #eee;
    font-size: 28px;
    text-align: center;
}

/* `h2` The font size is `24px */
h2{ 
    font-size: 24px;
}

/* Make the container have a width of 1024 pixels, and center it. You do this using `margin: 0 auto;`. */
/* Question: What is margin: 0 auto */
#container {
    width: 1024px;
    margin: 0 auto;
}

/* Make `#main-bio`, `#contact-info`, `#bio-image` all `float: left`. */ 
#main-bio, #contact-info, #bio-image {
    float: left;
}

/* Make the `#bio-image` have a width of 200 pixels. */
/* Add margins to the image so there is distance between it and the bio text.*/
#bio-image {
    width: 200px;
    margin-right: 10px;
}

/* `#main-bio` should have a width of `70%`. */
#main-bio { 
    width: 70%;
}

/* `#contact-info` should have a width of `30%`.*/
#contact-info {
    width: 30%;
}

/* Make the link color `#d21034`. */
a {
    color: #d21034;
}


/* 
    Be sure to include `alt` text in all images. 
    This is done in html file.
*/